<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
	<div class="container">
		<h1>Welcome to my very first music app!</h1>
		<a href="http://localhost:8888">
			<button>Login to Spotify</button>
		</a>
	</div>

</body>
</html>